.nav a {
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.nav li {
	list-style: none;
	float: left;
	display: inline;
	padding: 0 15px 0 15px;
	text-align: left;
	margin-left: 30px;
}

.container{
	width: 80%;
	margin: auto;
	display: inline;
}
.boxes {
	margin-top: 20px;
	display: inline;
}

.box {
	width: 30%;
	float: left;
	padding: 10px;
	text-align: center;
}

.h6{
	padding-right: 15px;
	text-align: right;
}

.footer {
	padding: 20px;
	background: #35424a;
	color: #fff;
	clear: both;
	text-align: center;
}

.h{
	margin-right: 60px;
	text-align: left;
}
.header {
	min-height: 80px;
	background: #35424a;
	color: #fff;
	padding-top: 20px;
	border-bottom: 4px solid blue;
}

